.content {
    background: rgb(223, 223, 223);
}

body {
    font-size: 50px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
}

.cpu {
    background-color: #269ed5;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.motherboards {
    background-color: #8dd96a;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.gpu {
    background-color: #dd7e43;
    position: relative;
    overflow: hidden;
    text-align: center;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.cpu_types,
.motherboard_types,
.gpu_types {
    display: none;
}